node_modules
.next
.git
.gemini
backups
scratch/
*.zip
*.db
npm-debug.log
Dockerfile
docker-compose.yml
.dockerignore
README.md
*.ts
*.js
!next.config.ts
!next-env.d.ts
prisma/*
!prisma/schema.prisma
