node_modules
.next
.git
.gemini
backups
scratch/
*.zip
*.db
npm-debug.log
Dockerfile
docker-compose.yml
.dockerignore
README.md
*.ts
*.js
!next.config.ts
!next-env.d.ts
!seed-admin.js
!seed-test.js
!backup_db.js
prisma/*
!prisma/schema.prisma
!prisma/migrations
